*{
    margin: 0;
    padding: 0;
}

.demo-logo img{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(0,-50%);
    margin-left: -190px;
    width: 400px;
}

body {
    width:100%;
    background-image: url("../images/login_bg.png");
    background-repeat: no-repeat;
}

.demo-findPwd {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 210px;
    left: 50%;
    margin-left: -200px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: transparent;
}

.find-demo-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-family: 幼圆;
    color: #34495e;
    text-align: center;
}

.email{
    background-color: transparent;
    border-color: #34495e;
}

.userword{
    background-color: transparent;
    border-color: #34495e;
}

.userword-send{
    position: absolute;
    top: 97px;
    left: 310px;
    background-color: #FC9;
    color: aliceblue;
    text-align: center;
    width: 80px;
    height: 24px;
    line-height: 24px;
    border-color: #FFFFFF;
    border-radius:2px;
    font-size: 14px;
}

.demo1{
    margin: 40px 5px 20px 33px;
}

.demo2 {
    margin: 20px 5px 10px 50px;
}

.newPwd {
    margin: 30px 100px 10px 100px;
    background-color: #FC9;
    color: aliceblue;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius:8px;
    font-size: 20px;
}

.tips{
    position: absolute;
    top: 180px;
    left: 110px;
    background-color: transparent;
}