bd-container .friend-nav-list .fd-nav-icon {
    background: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png24.png);
    _background: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png8.png);
    background-position: -3px -2449px;
    margin-right: 10px;
    top: 0;
    width: 18px;
    height: 24px;
    display: inline-block;
    vertical-align: middle
}

#nxHeader.hd-wraper {
    height: 30px
}

.bd-container .friend-nav-list .on {
    height: 47px;
    text-decoration: none;
    border-bottom: 3px solid #227dc5;
    _overflow: hidden
}

.bd-container .friend-nav-list .fd-nav-item .friends-nav:hover {
    border: none;
    cursor: default
}

.bd-container .fr {
    float: right;
    display: inline
}

.bd-container .fl {
    float: left;
    display: inline
}

#friends-box {
    background: #fff;
    margin-top: 23px;
    padding: 0 20px
}

#friend_head_bar {
    width: 1051px;
    height: 60px;
    position: relative;
    background: #f8f8f8;
    margin-left: -20px
}

#friends-box #friend_head_bar #friend_head_bar_bg {
    width: 1051px;
    height: 60px;
    z-index: -1
}

.resize-max #friends-box #friend_head_bar,.resize-max #friends-box #friend_head_bar #friend_head_bar_bg {
    width: 1240px
}

.resize-min #friends-box #friend_head_bar,.resize-min #friends-box #friend_head_bar #friend_head_bar_bg {
    width: 862px
}

#friends-box #friend_head_bar ul.friend-manage-list {
    position: absolute;
    top: 0
}

#friends-box #friend_head_bar li {
    float: left;
    margin-right: 20px;
    width: 100px;
    text-align: center
}

#friends-box #friend_head_bar li a {
    font-size: 14px;
    color: #000;
    height: 57px;
    line-height: 57px;
    display: block;
    width: 63px;
    margin: 0 auto;
    cursor: pointer
}

#friends-box #friend_head_bar li.friend-cur-group-li {
    width: auto
}

#friends-box #friend_head_bar li.friend-cur-group-li a {
    width: auto;
    margin-left: 15px
}

#friends-box #friend_head_bar li.friend-cur-group-li .group-name {
    height: 57px;
    line-height: 57px;
    float: left
}

#friends-box #friend_head_bar li.friend-cur-group-li .friend-cur-num-span {
    font-size: 12px;
    float: left;
    margin-left: 10px;
    font-weight: 400
}

#friends-box #friend_head_bar li a.curr-a,#friends-box #friend_head_bar li a:hover {
    font-weight: 700;
    border-bottom: 3px solid #227dc5
}

#friends-box .search-box {
    position: absolute;
    top: 0;
    right: 0;
    margin: 14px 20px 14px 0
}

#friends-box .png {
    background: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png24.png);
    _background: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png8.png)
}

#friends-box a,#friends-box div,#friends-box span {
    font-family: 微软雅黑,宋体,Tahoma,Helvetica,Arial,sans-serif;
    color: #000
}

#friends-box .friends-tab {
    width: 798px;
    height: 24px;
    border-bottom: 1px solid #CCC;
    float: left
}

#friends-box .friends-tab div,#friends-box .friends-tab li,#friends-box .friends-tab ul {
    float: left
}

#friends-box .friends-title {
    width: 49px;
    height: 24px;
    padding-left: 23px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    background-position: -186px -1394px
}

#friends-box .friends-tab li {
    width: 85px;
    text-align: center
}

#friends-box .friends-tab li a {
    font-size: 12px;
    display: block;
    padding-top: 5px;
    height: 18px;
    text-decoration: none
}

#friends-list {
    position: relative;
    width: 756px;
    min-height: 1024px;
    float: left;
    padding-bottom: 175px
}

#friends-box .group-name {
    line-height: 30px;
    height: 30px;
    font-weight: 700
}

#friends-list .friends-top-bar,#friends-list .group-batch-manage {
    padding-right: 23px
}

.friends-top-bar #f_group-name,.friends-top-bar #f_search,.friends-top-bar #f_search-content {
    display: none
}

.top-fixed .friends-top-bar #f_group-name,.top-fixed .friends-top-bar #f_search,.top-fixed .friends-top-bar #f_search-content {
    display: block
}

#friends-list .group-edit-wrap {
    margin-left: 50px
}

#friends-list .group-edit-selector {
    margin-left: 20px;
    width: 320px
}

#friends-list .from,#friends-list .to {
    margin-right: 9px
}

#friends-list .check-all {
    padding-left: 9px;
    cursor: pointer
}

#friends-list .check {
    margin-left: 30px;
    margin-top: 8px;
    width: 12px;
    height: 12px;
    border: 2px solid #bfbfbf;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer
}

#friend_group-edit .on {
    background-image: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png24.png);
    _background-image: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png8.png);
    background-position: -240px -356px;
    border: none;
    width: 16px;
    height: 16px;
    border-radius: none
}

#friends-list .group-batch-edit-btn {
    width: 56px;
    padding-left: 26px;
    background-position: -2px -1887px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends-list .group-edit-btn {
    width: 100px;
    height: 32px;
    text-indent: -9999px
}

#friends-list .group-edit-wrap .edit {
    background-position: -197px -1214px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends-list .group-edit-wrap .edit:hover {
    background-position: -197px -1245px
}

#friends-list .group-edit-wrap .add {
    background-position: -197px -1277px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends-list .group-edit-wrap .add:hover {
    background-position: -197px -1309px
}

#friends-list .group-edit-wrap .delete {
    background-position: -197px -1339px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends-list .group-edit-wrap .delete:hover {
    background-position: -197px -1369px
}

#friends-list .group-edit-wrap .shift {
    background-position: -197px -1430px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends-list .group-edit-wrap .shift:hover {
    background-position: -197px -1399px
}

#friends-list .view {
    margin-right: 30px;
    width: 20px;
    height: 20px;
    margin-top: 8px
}

#friends-list .list {
    background-position: -160px -243px;
    margin-right: 0
}

#list_con_open.on {
    background-position: -182px -242px
}

#friends-list .card {
    background-position: -204px -216px
}

#card_con_open.on {
    background-position: -182px -216px
}

#friends-list .friends-card-tip {
    background-position: 0 -442px;
    display: block;
    height: 37px;
    width: 68px;
    left: 642px;
    top: -32px;
    position: absolute
}

#friends-list .friends-list-tip {
    background-position: -70px -442px;
    background-repeat: no-repeat;
    display: block;
    height: 37px;
    width: 68px;
    left: 693px;
    top: -32px;
    position: absolute
}

#friends-list .btn-group-choose {
    background-position: -99px -644px;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    width: 210px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer
}

.resize-min #friends-list .btn-group-choose {
    background-position: -140px -644px
}

.resize-min #friends-box .group-edit-selector {
    width: 270px
}

.resize-min #friends-box .btn-group-choose {
    width: 170px
}

#friends-list .choose-on {
    border-color: #727985;
    background-position: -99px -684px
}

.resize-min #friends-list .choose-on {
    background-position: -140px -684px
}

#friends-list .group-open {
    padding-left: 10px;
    font-size: 14px;
    color: #333
}

#friends-list .del-checked {
    position: absolute;
    z-index: 1;
    background-color: #e9edf0;
    width: 737px;
    font-size: 12px;
    padding-top: 19px;
    border-bottom: 1px solid #ddd
}

#friends-list .batch-selector-con,#friends-list .del-checked-flow {
    overflow-y: auto;
    max-height: 124px;
    _height: 124px;
    _overflow-y: scroll
}

#friends-list .selected-wrap {
    border: 1px solid #ddd;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 9px;
    margin-bottom: 9px;
    border-radius: 2px;
    padding-left: 10px;
    background-color: #fefefe
}

#friends-list .selected-wrap:hover {
    border: 1px solid #aaa
}

#friends-list .batch-selected {
    background-position: -1px -891px;
    width: 14px;
    height: 10px;
    display: inline-block;
    zoom: 1;
    margin-left: 7px;
    margin-right: 7px;
    *margin-top: -13px
}

#friends-list .batch-selected:hover {
    background-position: -1px -919px
}

#friends-list .hover {
    background-position: -144px -243px
}

#friends-list .del-btn-wrap {
    margin: 3px 0 12px 0;
    height: 23px;
    text-align: center;
    *margin-top: 9px
}

#friends-list .btn-del-ok {
    width: 49px;
    height: 22px;
    display: inline-block;
    zoom: 1;
    background-position: 0 -402px;
    cursor: pointer
}

#friends-list .btn-del-ok:hover {
    background-position: -51px -402px
}

#friends-list .btn-del-clear {
    width: 85px;
    height: 22px;
    display: inline-block;
    zoom: 1;
    margin-left: 10px;
    background-position: -160px -67px;
    cursor: pointer
}

#friends-list .btn-del-clear:hover {
    background-position: -160px -91px
}

#friends-box .group-edit-option {
    top: 29px;
    left: 60px;
    width: 189px;
    height: 180px;
    border: 1px solid #d4d4d4;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute
}

.resize-min #friends-box .group-edit-option {
    left: 41px
}

#friends-box .group-edit-special {
    height: 78px
}

#friends-box .group-edit-special .no-sepcial {
    display: none
}

#friends-box .group-edit-option li {
    height: 34px;
    line-height: 34px;
    cursor: pointer
}

#friends-box .group-edit-option .group-option {
    padding-left: 45px;
    color: #333;
    display: block;
    height: 34px;
    width: auto
}

#friends-box .group-edit-option .group-option:hover {
    background-color: #e1e9f0
}

#friends-box .group-edit-option .rename {
    background-position: 19px -1714px;
    background-repeat: no-repeat
}

#friends-box .group-edit-option .add {
    background-position: -264px -1695px;
    background-repeat: no-repeat
}

#friends-box .group-edit-option .add:hover {
    background-position: -264px -1731px
}

#friends-box .group-edit-option .delete {
    background-position: -264px -1620px;
    background-repeat: no-repeat
}

#friends-box .group-edit-option .delete:hover {
    background-position: -264px -1659px
}

#friends-box .group-edit-option .shift {
    background-position: -264px -1548px;
    background-repeat: no-repeat
}

#friends-box .group-edit-option .shift:hover {
    background-position: -264px -1583px
}

#friends-box .group-edit-option .dismiss {
    background-position: -264px -1509px;
    background-repeat: no-repeat
}

#friends-box .group-edit-option .dismiss:hover {
    background-position: -264px -1472px
}

#friends-list .group-batch-manage {
    height: 32px;
    line-height: 32px;
    font-color: #262626;
    margin-top: 14px;
    margin-bottom: 14px;
    position: relative;
    z-index: 1
}

#friends-list .group-edit {
    height: 32px;
    line-height: 32px;
    position: relative;
    display: block;
    z-index: 2
}

#friends-list .btn_sort {
    font-size: 14px;
    font-color: #262626;
    width: 49px;
    text-decoration: none;
    background-position: 38px -763px;
    background-repeat: no-repeat
}

#sort-container {
    position: absolute;
    z-index: 1;
    width: 189px;
    height: 102px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px 0;
    left: 0;
    top: 29px
}

#sort-container li {
    height: 34px;
    line-height: 34px;
    cursor: pointer
}

#sort-container a {
    width: 169px;
    display: block;
    padding-left: 20px
}

#sort-container a:hover {
    background-color: #e1e9f0
}

#sort-container .up {
    background-position: 160px -790px;
    background-repeat: no-repeat
}

#sort-container .on a {
    border-left: 3px solid #227dc5;
    padding-left: 17px
}

#sort-container li.on a.up {
    background-position: 160px -817px;
    background-repeat: no-repeat
}

#sort-container .up {
    background-position: 163px -790px;
    background-repeat: no-repeat
}

#sort-container .down {
    background-position: -127px -927px;
    background-repeat: no-repeat
}

#sort-container a.up:hover {
    background-position: 163px -817px
}

#sort-container a.down:hover {
    background-position: -127px -900px
}

#sort-container li.on a.down {
    background-position: -130px -900px;
    background-repeat: no-repeat
}

#group_list {
    padding-top: 10px;
    width: 210px;
    max-height: 310px;
    overflow-y: auto;
    border: 1px solid #d4d4d4;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px #333;
    z-index: 1;
    border-top: none;
    left: 202px
}

#friends-list .edit-mem {
    left: 243px
}

.resize-min #friends-list .edit-mem {
    left: 184px
}

#group_list li {
    list-style-type: none;
    cursor: pointer
}

#group_list .over-scroll {
    height: 204px;
    overflow-y: scroll
}

#group_list li {
    line-height: 34px;
    height: 34px
}

#group_list .group:hover {
    background-color: #f3f5f7
}

#group_list .icon {
    display: block;
    padding-left: 46px;
    background-position: 20px -561px;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #333
}

#group_list .icon:hover {
    background-position: 20px -603px
}

#group_list .on .icon,#group_list .on .icon:hover {
    background-position: 20px -641px
}

#group_list .create-group {
    height: 49px;
    line-height: 49px;
    border-top: 1px solid #e5e5e5;
    width: 180px;
    margin: 0 auto
}

#group_list .create {
    cursor: default;
    line-height: 49px;
    height: 49px;
    color: #227dc5;
    margin-left: 30px;
    cursor: pointer
}

#group_list .input-gname {
    margin-top: 10px;
    height: 27px;
    line-height: 27px;
    width: 118px;
    border: 1px solid #9cc6e8
}

#group_list .submit {
    background-position: 0 -356px;
    margin-left: 5px;
    margin-top: 10px;
    zoom: 1;
    width: 50px;
    height: 30px;
    *margin-top: -35px;
    cursor: pointer
}

#group_list .submit:hover {
    background-position: -52px -356px
}

#group-selector {
    padding-top: 10px;
    width: 210px;
    border: 1px solid #d4d4d4;
    position: absolute;
    background-color: #fff;
    z-index: 1
}

#group-selector .over-scroll {
    height: 204px;
    overflow-y: scroll
}

#group-selector li {
    line-height: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: 3px
}

#group-selector li.on {
    border-left: 3px solid #227dc5;
    margin-left: 0
}

#groups-selector-list {
    padding-bottom: 4px
}

#group-selector .group:hover {
    background-color: #f3f5f7
}

#group-selector .icon {
    display: block;
    background-position: 20px -561px;
    background-repeat: no-repeat
}

#group-selector .icon:hover {
    background-position: 20px -603px
}

#group-selector .on .icon,#group-selector .on .icon:hover {
    background-position: 20px -641px
}

#group-selector .gname {
    font-size: 14px;
    padding-left: 46px
}

#group-selector .over-scroll .group-num {
    margin-right: 9px
}

#group-selector .group-num {
    font-size: 12px;
    margin-right: 20px
}

#group-selector .create-group {
    height: 49px;
    line-height: 49px;
    border-top: 1px solid #e5e5e5;
    width: 180px;
    margin: 0 auto;
    cursor: pointer
}

#group-selector .create {
    cursor: pointer;
    line-height: 49px;
    height: 49px;
    color: #227dc5;
    margin-left: 30px
}

#group-selector .input-gname {
    height: 27px;
    width: 118px;
    border: 1px solid #9cc6e8
}

#group-selector .submit {
    background-position: 0 -356px;
    margin-left: 5px;
    margin-top: 10px;
    zoom: 1;
    width: 50px;
    height: 30px;
    *margin-top: -40px;
    cursor: pointer
}

#group-selector .submit:hover {
    background-position: -52px -356px
}

.card-on span {
    color: #666;
    text-decoration: none;
    overflow: hidden
}

#friends-box .card-on .group-name-list {
    height: 23px;
    line-height: 23px;
    width: auto;
    color: #333
}
#friends-box .card-on .add-name-list {
    height: 23px;
    line-height: 23px;
    width: auto;
    color:#0d71bb;
}

.card-on .userhead {
    width: 168px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    display: block
}

.card-on .username {
    font-family: 微软雅黑,宋体,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    color: #333
}

#friends-list .list-loading {
    position: absolute;
    text-align: center;
    width: 738px;
    z-index: 10;
    height: 100%
}

#friends-list .loading-con {
    position: absolute;
    text-align: center;
    width: 738px;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%
}

#friends-list .list-loading img {
    margin-top: 225px
}

#friends-list .list-loading .loading-text {
    font-size: 14px;
    font-weight: 700;
    color: #5284ce;
    margin-top: 12px
}

#friends-list .loading-cover {
    position: absolute;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    top: 0;
    left: 0;
    background-color: #fff;
    float: left;
    width: 100%;
    height: 100%
}

#friends-list .list-empty-title {
    width: 540px;
    height: 42px;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    border-bottom: 1px solid #d8dfea
}

#friends-list .list-empty-friend {
    text-align: center;
    width: 542px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px
}

#friends-box .list-empty-friend .edit-group {
    color: #369
}

#friends-list .list-empty-friend a {
    text-decoration: none
}

#friends-list .list-bottom-loading {
    height: 25px;
    width: 539px;
    margin-top: 15px;
    text-align: center;
    background-color: #f5f5f5;
    line-height: 25px;
    color: #969595
}

#friends-list .list-bottom-loading a {
    float: none;
    color: #369;
    width: 72px
}

#friends-list .group-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    border: 1px solid #84abc6;
    z-index: 10;
    background-color: #fff
}

#friends-list .group-selector ul {
    margin-top: 16px
}

#friends-list .group-selector li {
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
    margin: 0
}

.card-on .friends-item-con {
    height: 104px;
    padding-left: 12px;
    padding-right: 9px;
    padding-top: 9px;
    font-size: 12px;
    font-family: '微软雅黑';
    color: #888
}

.card-on .friends-com-info,.card-on .friends-loc-info {
    line-height: 21px;
    height: 21px
}

.card-on .friends-com-info {
    cursor: pointer
}

.card-on .userheadimg {
    vertical-align: top
}

.card-on .friends-item-btn {
    height: 23px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 2px;
    background: #fbfbfb;
    text-align: center;
    overflow: hidden;
    border: 1px solid #c7c7c7;
    box-shadow: 0 1px #f2f2f2;
    cursor: pointer
}

.card-on .friends-item-btn:hover {
    border: 1px solid #999
}

.on .friends-item-btn {
    box-shadow: 0 1px #3b91d6
}

.card-on .friend-detail {
    width: 168px;
    height: 297px;
    border: 1px solid #e1dfdf;
    float: left;
    position: relative;
    border-radius: 3px;
    margin: 0 19px 20px 0;
    background-color: #fff;
    box-shadow: 0 1px #d1d4d7
}

#friends-list-con .x-to-hide {
    background-position: -45px -216px;
    position: absolute;
    width: 22px;
    height: 20px;
    left: 139px;
    top: 11px
}

#friends-list-con .x-to-hide:hover {
    background-position: -21px -216px
}

#friends-list-con .special-edit-desc-tip {
    background-position: -1px -2354px;
    position: absolute;
    width: 68px;
    height: 37px;
    top: 143px;
    left: -17px
}

#friends-list .list-on .special-edit-desc-tip {
    background-position: -1px -2354px;
    position: absolute;
    width: 68px;
    height: 37px;
    top: -11px;
    left: 39px
}

#friends-list-con .special-remove-tip {
    background-position: -1px -2295px;
    position: absolute;
    height: 37px;
    width: 68px;
    left: 114px;
    top: -28px
}

#friends-list .list-on .special-remove-tip {
    top: -33px
}

#friends-list-con .special-up-tip {
    top: 225px;
    left: 14px;
    position: absolute;
    width: 68px;
    height: 37px;
    background-position: -2px -1055px;
    background-repeat: no-repeat
}

#friends-list-con .special-down-tip {
    top: 225px;
    left: 88px;
    position: absolute;
    width: 68px;
    height: 37px;
    background-position: -2px -1119px;
    background-repeat: no-repeat
}

.friends-common-fri-tip {
    position: absolute;
    width: 146px;
    top: 224px;
    _top: 214px;
    padding-right: 10px
}

#friends-box .friends-common-fri-tip em {
    display: block;
    background-position: 0 -496px;
    _background-position: 0 -486px;
    background-repeat: no-repeat;
    height: 5px
}

.friends-common-fri-tip .common-detail {
    background-color: #333;
    width: 146px;
    padding-left: 12px;
    padding-right: 10px;
    background-color: #333
}

.list-on .friends-common-fri-tip {
    top: 64px;
    _top: 56px;
    z-index: 1
}

#friends-box .list-on .friends-common-fri-tip em {
    margin-left: 44px
}

#friends-list-con. .one-info {
    top: 204px
}

#friends-list-con .special-item-btn {
    border: none;
    height: 26px;
    cursor: pointer
}

#friends-list-con .special-up {
    width: 75px;
    height: 25px;
    background-position: -2px -1260px;
    background-repeat: no-repeat
}

#friends-list-con .special-item-btn .hover-up {
    background-position: -2px -1300px;
    background-repeat: no-repeat;
    width: 74px;
    border-right: 1px solid #727986
}

#friends-list-con .special-down {
    width: 75px;
    height: 25px;
    background-position: -3px -1219px;
    background-repeat: no-repeat
}

#friends-list-con .special-item-btn .hover-down {
    background-position: -3px -1180px;
    background-repeat: no-repeat
}

#friends-list-con .common-detail {
    line-height: 28px;
    color: #fff
}

#friends-list-con .hover .name {
    color: #227dc5
}

#friends-list-con .hover .x-to-hide {
    display: block
}

#friends-list-con .hover #f_head-fn {
    display: block
}

#friends-list-con .on .friends-item-btn {
    background-color: #3b91d6;
    border: 1px solid #3b91d6;
    border-bottom: 2px solid #3b91d6
}

#friends-list-con .on .group-name-list,#friends-list-con .on .name {
    color: #fff
}

#friends-list-con .on {
    background-color: #61aeef
}

#friends-list-con .edit-hover {
    border: 4px solid #e1dfdf;
    border-radius: 4px;
    margin: -3px 16px 17px -3px
}

#friends-list .btn_sort {
    margin-left: 1px
}

#friends-box .search-btn {
    width: 16px;
    height: 16px;
    background-position: -1px -2416px;
    position: relative;
    left: -15px;
    top: 8px;
    cursor: pointer
}

#friends-box .search {
    padding: 0 46px 0 15px;
    vertical-align: middle;
    width: 177px;
    height: 30px;
    line-height: 30px;
    line-height: 100%;
    border: 1px solid #d4d8da;
    box-shadow: -1px -1px #e1dfdf;
    margin-right: -16px
}

#friends-list .group-batch-manage .btn_order {
    background-position: 0 -160px;
    width: 58px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer
}

.bd-content {
    margin: 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px
}

.friends-list-top {
    z-index: 90;
    margin-left: -10px;
    padding-left: 10px
}

.top-fixed .friends-list-top {
    background-color: #fff;
    top: 155px;
    position: fixed;
    padding-top: 21px;
    width: 756px
}

.first-nav-fixed .top-fixed .friends-list-top {
    top: 105px
}

.resize-max .top-fixed .friends-list-top {
    width: 946px
}

.resize-min .top-fixed .friends-list-top {
    width: 560px
}

.top-fixed #friend_head_bar {
    position: fixed;
    z-index: 95;
    width: 1070px;
    top: 100px
}

.top-fixed #friend_head_bar #friend_head_bar_bg2 {
    background: #e9edf0;
    height: 20px
}

.first-nav-fixed .top-fixed #friend_head_bar {
    top: 50px
}

#friends-box .friends-con #friends_groups #group_suggest.friend-right-fixed {
    position: fixed;
    top: 120px
}

.friends-list-top-con {
    height: 114px;
    display: block
}

.card-on .special-desc {
    height: 68px
}

#friends-list .special-desc-edit {
    margin-top: 2px;
    width: 14px;
    height: 14px;
    background-position: -285px -2160px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends-list .special-desc-edit:hover {
    background-position: -286px -2126px
}

.card-on .special-desc-detail {
    margin-left: 17px
}

.list-on .friend-detail {
    height: 105px
}

.list-on .userhead {
    width: 50px;
    height: 50px;
    padding-left: 9px;
    padding-top: 10px;
    float: left;
    display: inline
}

.list-on .username {
    height: 21px;
    line-height: 21px;
    color: #333
}

.list-on .friends-loc-info {
    line-height: 19px;
    height: 19px
}

.list-on .friends-com-info {
    line-height: 19px;
    height: 19px
}

.list-on .friends-item-con {
    float: left;
    width: 89px;
    display: inline;
    color: #888;
    padding-left: 10px;
    padding-top: 6px
}

.list-on .friends-item-btn {
    position: absolute;
    left: 9px;
    top: 70px;
    width: 148px;
    margin-left: 0
}

.list-on .special-item-btn {
    width: 150px
}

.list-on .special-desc {
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis
}

.list-on .special-desc-input {
    width: 90px;
    height: 35px
}

#friends-list .list-on .special-up-tip {
    top: 30px;
    z-index: 1
}

#friends-list .list-on .special-down-tip {
    top: 30px;
    z-index: 1
}

#friends-list .list-on .x-to-hide {
    top: 5px
}

#friends-box .list-empty {
    height: 100px;
    line-height: 100px;
    background-position: 188px -1996px;
    background-repeat: no-repeat
}

.list-empty-tip {
    font-size: 20px;
    color: #666;
    padding-left: 307px
}

#friends_groups {
    width: 243px;
    float: right;
    position: relative
}

#friends_groups .group-list {
    background-color: #f3f5f6;
    width: 242px;
    float: left;
    margin: 30px 0 0 0;
    border-bottom: 1px solid #cce0ed
}

#groups-list-con li a {
    display: block;
    height: 41px;
    line-height: 43px;
    font-size: 14px;
    padding-left: 19px;
    color: #666;
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #f3f5f6;
    text-decoration: none
}

#groups-list-con li span.gname {
    color: #666
}

#groups-list-con li.on span.gname {
    color: #333
}

#groups-list-con .excess {
    display: none
}

#groups-list-con .group-num {
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    line-height: 20px;
    zoom: 1;
    color: #888;
    margin-top: 12px;
    *margin-top: -31px;
    font-weight: 400;
    float: right;
    margin-right: 20px
}

#groups-list-con .add {
    background-repeat: no-repeat;
    background-position: -76px -719px
}

#groups-list-con .new-group {
    height: 43px
}

#groups-list-con .new-group .new-group-name {
    float: left;
    height: 41px;
    width: 140px;
    padding: 0 80px 0 18px;
    border: 1px solid #ddd
}

#groups-list-con .new-group .name-num-overflow {
    border: 1px solid red
}

#groups-list-con .new-group .new-name-cancel,#groups-list-con .new-group .new-name-ok {
    position: absolute;
    left: 164px;
    line-height: 40px;
    color: #227dc5;
    cursor: pointer
}

#groups-list-con .new-group .new-name-cancel {
    left: 204px
}

#groups-list-con .intellect {
    background-repeat: no-repeat;
    background-position: -265px -1150px;
    padding-left: 46px;
    color: #227dc5;
    background-color: #e8edf1
}

#group-list-con .intellect:hover {
    background-position: -263px -1114px
}

#groups-list-con #moregroups {
    height: 28px;
    background-color: #f3f5f6
}

#groups-list-con .more {
    background-position: 115px -766px;
    background-repeat: no-repeat
}

#groups-list-con .less {
    background-position: -176px -842px;
    background-repeat: no-repeat
}

#groups-list-con {
    border-radius: 2px
}

#friends_groups .on a {
    background-color: #fff;
    font-weight: 700
}

.group-suggest {
    background-color: #fff;
    margin-top: 19px;
    border: 1px solid #e1dfdf;
    border-radius: 2px;
    width: 221px;
    padding-left: 19px
}

.suggest-title {
    font-size: 14px;
    color: #333;
    line-height: 55px;
    height: 55px
}

.suggest-detail {
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px
}

.suggest-name {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    margin-left: 10px
}

.suggest-head {
    padding-top: 1px
}

#friends_groups .group-suggest .suggest-friend .head-mask {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear,0 68,0 bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.9)));
    background: -moz-linear-gradient(center -86deg ,rgba(0,0,0,0),rgba(0,0,0,.9))
}

.group-suggest .suggest-userhead {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    display: block
}

#friends_groups .suggest-join {
    background-position: -2px -2140px;
    background-repeat: no-repeat;
    margin-right: 19px;
    width: 47px;
    height: 25px;
    margin-top: 2px;
    *margin-top: -23px;
    cursor: pointer
}

.suggest-container {
    padding-left: 14px;
    padding-top: 4px;
    width: 226px
}

.suggest-friends-list {
    height: 310px;
    overflow: hidden;
    clear: both;
    position: relative
}

.suggest-container .suggest-title {
    height: 44px;
    line-height: 44px
}

.suggest-container .suggest-friend {
    width: 100px;
    height: 136px;
    margin-right: 10px;
    margin-bottom: 19px;
    text-align: center;
    position: relative
}

#friends_groups .suggest-container .suggest-name {
    font-size: 12px;
    color: #fff;
    position: relative;
    top: -25px
}

#friends_groups .suggest-container .suggest-add {
    height: 26px;
    width: 100px;
    position: absolute;
    top: 110px;
    left: 0;
    background-position: -3px -2195px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends_groups .suggest-container .suggest-add:hover {
    background-position: -2px -2243px
}

.suggest-func {
    margin-top: 19px;
    margin-right: 20px;
    height: 9px
}

#friends_groups .suggest-prev {
    width: 6px;
    height: 9px;
    background-position: -290px -969px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-right: 20px;
    cursor: pointer
}

#friends_groups .suggest-prev:hover {
    background-position: -290px -1097px
}

#friends_groups .suggest-func .no_left,#friends_groups .suggest-func .no_right {
    visibility: hidden
}

#friends_groups .suggest-next {
    width: 6px;
    height: 9px;
    background-position: -292px -997px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-right: 16px;
    cursor: pointer
}

#friends_groups .suggest-next:hover {
    background-position: -292px -1069px
}

#friends_groups .suggest-more {
    width: 16px;
    height: 4px;
    margin-top: 3px;
    background-position: -283px -1026px;
    background-repeat: no-repeat;
    cursor: pointer
}

#friends_groups .suggest-more:hover {
    background-position: -283px -1048px
}

#friends-box {
    width: 1011px
}

.resize-min #friends-box {
    width: 822px
}

.resize-min #friends-list,.resize-min #friends-list .list-loading,.resize-min #friends-list .loading-con {
    width: 567px
}

.resize-min #friends-list .friends-list-tip {
    left: 504px;
    _left: 506px
}

.resize-min #friends-list .friends-card-tip {
    left: 453px;
    _left: 440px
}

.resize-min #friends-list .del-checked {
    width: 548px
}

.resize-min #friends-list .group-edit-wrap {
    margin-left: 20px
}

.resize-min #friends-list .check {
    margin-left: 20px
}

.resize-min #friends-list .group-edit-selector {
    margin-left: 10px
}

.resize-min #group_list {
    left: 142px
}

.resize-min .top-fixed {
    width: 568px
}

.resize-max #friends-box {
    width: 1200px
}

.resize-max #friends-list,.resize-max #friends-list .list-loading,.resize-max #friends-list .loading-con {
    width: 945px
}

.resize-max #friends-list .del-checked {
    width: 926px
}

.resize-max .top-fixed {
    width: 946px
}

.resize-max #friends-list .friends-list-tip {
    left: 880px;
    _left: 880px
}

.resize-max #friends-list .friends-card-tip {
    left: 828px;
    _left: 815px
}

.alert .ui-widget-content,.create .ui-widget-content,.delete .ui-widget-content,.dismiss .ui-widget-content,.rename .ui-widget-content,.smart .ui-widget-content,.special-remove .ui-widget-content {
    font-size: 18px;
    color: #333;
    text-align: center;
    overflow: hidden
}

.alert .ui-widget-footer {
    display: none
}

.delete .ui-widget-content p {
    font-size: 18px
}

.delete .ui-widget-content div {
    line-height: 40px;
    height: 40px;
    margin-top: 20px
}

.delete .ui-widget-content label {
    font-size: 14px;
    color: #333;
    margin-right: 10px
}

.delete .ui-widget-content input {
    width: 81px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    margin-right: 20px;
    vertical-align: middle
}

.delete .ui-widget-content img {
    margin-right: 20px;
    vertical-align: top;
    height: 40px
}

.delete .ui-widget-content a {
    font-size: 12px;
    color: #227dc5
}

.special-remove .ui-widget-content {
    line-height: 24px
}

.special-remove .ui-widget-content .friend-remove {
    font-size: 14px
}

#group-smart-layer {
    position: fixed;
    _position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    z-index: 100
}

#group-smart-layer a:focus {
    outline-style: none;
    -moz-outline-style: none
}

.smart-big-bg {
    height: 2000px;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50)
}

.smart-container {
    position: absolute;
    top: 120px;
    width: 684px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f8f8f8
}

.smart-container .png {
    background: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png24.png);
    _background: url(http://s.xnimg.cn/nx/friends/res/friends-v2-png8.png)
}

.smart-head {
    background-color: #f8f8f8;
    padding-left: 30px
}

.smart-head h1 {
    padding-top: 20px;
    height: 20px;
    font-size: 18px;
    color: #333;
    background-image: none;
    background-position: 572px -1440px;
    background-repeat: no-repeat
}

.smart-head .smart-close-icon {
    margin-right: 19px;
    margin-top: 19px;
    background-position: -141px -214px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer
}

.smart-tab {
    font-size: 14px
}

.smart-nav {
    height: 46px;
    line-height: 46px;
    margin-right: 37px;
    cursor: pointer
}

.smart-tab .on a {
    font-weight: 700
}

.smart-tab .on {
    height: 43px;
    border-bottom: 3px solid #227dc5
}

.smart-tab a {
    color: #333
}

.smart-list {
    width: 568px;
    height: 399px;
    margin-left: 20px;
    border: 1px solid #ddd;
    background-color: #fff
}

.smart-cate-list {
    padding-top: 10px;
    width: 148px;
    height: 389px;
    max-height: 399px;
    overflow: auto;
    border-right: 1px solid #ddd
}

.smart-cate-list .smart-group {
    height: 34px;
    line-height: 34px;
    cursor: pointer
}

.smart-cate-list .group {
    padding-left: 14px;
    color: #333;
    font-size: 14px
}

.smart-cate-list .on {
    border-left: 3px solid #227dc5;
    font-weight: 700
}

.smart-cate-list .on .group {
    padding-left: 11px
}

.smart-cate-list .smart-group:hover {
    background-color: #e1e9f0
}

.smart-cate-list .group-num {
    font-size: 12px;
    color: #aaa;
    padding-right: 8px;
    *margin-top: -34px
}

.smart-cate-list .on .group-num {
    font-weight: 400
}

.smart-list .smart-manage {
    width: 419px;
    height: 399px
}

.smart-list .smart-option-box {
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    font-size: 12px
}

.smart-list .smart-cate-name {
    color: #333;
    font-weight: 700
}

.smart-list .cate-created,.smart-list .cate-ignore {
    color: #aaa;
    padding-left: 20px
}

.smart-list .smart-cate-rename {
    width: 194px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ababab;
    margin-top: 8px
}

.smart-list .smart-rename-cancel,.smart-list .smart-rename-submit {
    color: #227dc5;
    cursor: pointer
}

.smart-list .smart-rename-submit {
    margin-left: -62px
}

.smart-list .smart-rename-cancel {
    margin-left: -34px
}

.smart-list .smart-list-create {
    width: 82px;
    height: 44px;
    color: #227dc5;
    padding-right: 19px;
    background-position: -220px -526px;
    text-indent: -9999px;
    background-repeat: no-repeat
}

.smart-list .smart-list-ignore {
    color: #227dc5;
    padding-right: 20px
}

.smart-list .smart-list-con {
    padding-left: 16px;
    padding-top: 4px;
    overflow: auto;
    height: 333px;
    max-height: 333px
}

.smart-list .smart-detail {
    height: 50px;
    width: 113px;
    padding: 4px;
    margin-right: 7px;
    margin-bottom: 12px
}

.smart-list .smart-img {
    width: 50px;
    height: 50px
}

.smart-list .smart-name,.smart-list .smart-option-in,.smart-list .smart-option-out {
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    padding-left: 4px;
    width: 54px
}

.smart-list .smart-name {
    font-weight: 700;
    color: #333;
    font-size: 14px
}

.smart-list .hover {
    background-color: #80b865;
    border-radius: 1px
}

.smart-list .hover .smart-name,.smart-list .hover .smart-option-in {
    color: #fff
}

.smart-list .hover-out {
    border: 4px solid #e1dfdf;
    border-radius: 1px;
    padding: 0
}

.smart-list .hover-out .smart-option-out {
    color: #227dc5
}

.smart-list .disable {
    position: relative
}

.smart-list .disable .smart-li-cover {
    width: 123px;
    height: 58px;
    position: absolute;
    opacity: .7;
    filter: alpha(opacity=70);
    background-color: #fff;
    *margin-left: -123px
}

.smart-footer {
    height: 70px;
    line-height: 70px;
    margin-top: 21px;
    background-color: #fff
}

.smart-footer .smart-support {
    margin-left: 21px
}

.smart-footer .smart-create {
    text-indent: -9999px;
    margin-right: 19px;
    margin-top: 20px;
    width: 97px;
    height: 31px;
    *margin-top: -50px;
    background-position: 0 -276px;
    background-repeat: no-repeat;
    cursor: pointer
}

.smart-footer .smart-create:hover {
    background-position: 0 -308px
}

.smart-footer .smart-close {
    text-indent: -9999px;
    margin-right: 10px;
    margin-top: 21px;
    width: 97px;
    height: 31px;
    height: 31px;
    *margin-top: -48px;
    width: 88px;
    background-position: -160px -136px;
    background-repeat: no-repeat;
    cursor: pointer
}

.smart-footer .smart-close:hover {
    background-position: -160px -168px
}

#friends-box .friends-con #friends_groups .advert-box {
    margin: 10px 0 0 0;
    width: 240px
}

#friends-box .friends-con #friends_groups .friend-right-fixed {
    position: fixed
}

#friends-box .suggest_follow {
    display: inline-block;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    background: #75ac5a;
    color: #fff;
    font-size: 12px;
    padding: 0
}

#suggest_follow_add {
    line-height: 28px;
    font-size: 12px;
    color: #fff
}

#friends-box .colorgreen {
    color: #75ac5a;
    padding: 0;
    font-size: 12px;
    line-height: 26px
}